<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fourmainandroidcomponents.serviceapplication">

    <queries>
        <package android:name="com.fourmainandroidcomponents.serviceotherapplication" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ServiceApplication">
        <service
            android:name="com.fourmainandroidcomponents.serviceapplication.MyService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="com.fourmainandroidcomponents.serviceapplication.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>