<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fourmainandroidactivity.serviceapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ServiceApplication">
        <service
            android:name="com.fourmainandroidactivity.serviceapplication.HelloService"
            android:process="com.fourmainandroidactivity.serviceapplication.remote"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>